section.s_intro#s_intro
	.container.intro
		.btn-theme
			+svg('moon')._moon
			+svg('sun')._sun

		a(href="").intro__logo
			h1.main-title Pandemonium
			img(src="./assets/images/Ellipse 11.png")._1
			img(src="./assets/images/Ellipse 10.png")._2

		.intro__block
			.intro__box
				p.text(class="lng-intro_text") Welcome to Pandemonium, a world beyond the valley of the shadow of death. Lands in which there is an endless war for power. It is here that armies of fierce demons and beautiful demonettes clash under the leadership of future lords.
				img(src="./assets/images/main_img.png" class="img-t-none")
			a(target="blanck" class="lng-btn_nft" href="https://neftyblocks.com/c/pandemoniumw").btn Find us on atomichub